## Shubham Satish Ghogare
## Celebal Assignment-02
## Data Science

In [1]:
import os
import time
import pandas as pd
import numpy as np
import random
from datetime import date
from random import uniform

## Import merge_file

In [2]:
df = pd.read_csv("C:/Users/PRASHANT/Desktop/Data_Science/Celebal Task/TASK2/merge_file.csv")
df

      Unnamed: 0                                               Text
0              0  '@murtazasolangi Yeh hoyi na baat....ub he to ...
1              1  '@Hina_qureshi_22 Aap roz itni jaldi utha jate...
2              2  '@USMANAH51877972 @ChaharJatt @AMISHDEVGAN Va ...
3              3         '@sensiblegirll Queen aap bhi so jao naüòíüò¥'
4              4  '@amrishrau Sir aap ki company pine labs ne me...
...          ...                                                ...
4988        4988                                '@SammoHung01 „ÇÑ„Å†ÔºÅÁ¨ë'
4989        4989  '@kenjiqtaro2 QÂ§™ÈÉé„Åï„Çì„ÅØ„Éõ„É≥„Éà„Å´‰ªñ‰∫∫„ÅÆÊ∞ó„Åå„ÅÑ„Åæ„Åõ„Çìü§£\n„ÅÜ„Å°„ÅÆBLACK M...
4990        4990     @immelonl0rd I would've done that forever ago.
4991        4991  '@Kadinhoboa Porque o gato tem sete vidas (pra...
4992        4992                              'Modeling SP cabooses

[4993 rows x 2 columns]

## Cleaning of Data

#### 1.Remove Emoji

In [3]:
start = time.time()

df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

print('\n', f'Time: {time.time() - start}')

 Time: 0.41036486625671387

In [45]:
df

     Unnamed: 0                                               Text
0             0  '@murtazasolangi Yeh hoyi na baat....ub he to ...
1             1  '@Hina_qureshi_22 Aap roz itni jaldi utha jate...
2             2  '@USMANAH51877972 @ChaharJatt @AMISHDEVGAN Va ...
3             3           '@sensiblegirll Queen aap bhi so jao na'
4             4  '@amrishrau Sir aap ki company pine labs ne me...
...         ...                                                ...
4988       4988                                    '@SammoHung01 '
4989       4989                  '@kenjiqtaro2 Q\nBLACK MagnumT\n'
4990       4990     @immelonl0rd I would've done that forever ago.
4991       4991  '@Kadinhoboa Porque o gato tem sete vidas (pra...
4992       4992                              'Modeling SP cabooses

[4993 rows x 2 columns]

In [4]:
df=df.drop(['Unnamed: 0'], axis=1)  # delete Extra Unnamed Column after deleting getting error

In [5]:
df

                                                   Text
0     '@murtazasolangi Yeh hoyi na baat....ub he to ...
1     '@Hina_qureshi_22 Aap roz itni jaldi utha jate...
2     '@USMANAH51877972 @ChaharJatt @AMISHDEVGAN Va ...
3              '@sensiblegirll Queen aap bhi so jao na'
4     '@amrishrau Sir aap ki company pine labs ne me...
...                                                 ...
4988                                    '@SammoHung01 '
4989                  '@kenjiqtaro2 Q\nBLACK MagnumT\n'
4990     @immelonl0rd I would've done that forever ago.
4991  '@Kadinhoboa Porque o gato tem sete vidas (pra...
4992                              'Modeling SP cabooses

[4993 rows x 1 columns]

#### 2.Remove Username

In [6]:
start = time.time()

df['Text'] = df['Text'].str.replace(r'\s*@\w+', '', regex=True)   #Remove username in @.... form 
df['Text'] = df['Text'].str.replace(r'\s*\B@\w+', '', regex=True)  
df['Text'] = df['Text'].str.replace(r'\s*@\S+', '', regex=True)
df['Text'] = df['Text'].str.replace(r'\s*@\S+\b', '', regex=True)

print('\n', f'Time: {time.time() - start}')

 Time: 0.15091681480407715

In [7]:
df.tail(30)

                                                   Text
4963                                         '03050305'
4964  'Udah tanggal 27 belum ada yang pickaw semoga ...
4965                                                ' '
4966  'He mustve been tuned in last night https://t....
4967                                             ' Ifb'
4968                                        ' Margit ?'
4969  ' Que inocente eres!! Entonces porque crees qu...
4970   '\u3000#PokemonDay \n26 https://t.co/bzDsQjBLvL'
4971  'Evening in Chandigarh Akbar Ansari G https://...
4972                  ' I am home sick with covid now.'
4973  '/ loud noises \n\nIRS SO LOUD https://t.co/oQ...
4974  'Appartamento in Vendita a Santo Stefano di Ma...
4975                                                ' '
4976  '15 SP !!23 # #2 #1515 # # #SMAP #  https://t....
4977                     'quiero que alguien me escuche
4978                         ' KKKKKKKKKK eu moro em SP
4979                                         ' I sleep'
4980          ' opina infj 1w2 2w3 5w4 so/sp rcoai pao'
4981                                              ' Nie
4982                                              ' \n'
4983                                           ' 3\n\n'
4984                                                ' '
4985                       ' infelizmente nasci em sp '
4986                                           ' sp km'
4987                                             ' !\n'
4988                                                ' '
4989                              ' Q\nBLACK MagnumT\n'
4990                  I would've done that forever ago.
4991  ' Porque o gato tem sete vidas (pra voc cuidar...
4992                              'Modeling SP cabooses

#### 3.Remove Punctuation

In [8]:
start = time.time()

punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
# Removing punctuations in string
# Using loop + punctuation string
def remove_punct(text):
    for i in text:
        if i in punc:
            text = text.replace(i, "")
    return text

print('\n', f'Time: {time.time() - start}')

 Time: 0.0

In [9]:
df['Text']=df['Text'].apply(remove_punct)     # apply remove Punctuation function on Text column

In [10]:
df

                                                   Text
0      Yeh hoyi na baatub he to Putin der jaye ga or...
1                       Aap roz itni jaldi utha jate ho
2      Va chacha hum nahi sunenge tera dekh rahe hai...
3                               Queen aap bhi so jao na
4      Sir aap ki company pine labs ne mere paise na...
...                                                 ...
4988
4989                                   QnBLACK MagnumTn
4990                    I wouldve done that forever ago
4991   Porque o gato tem sete vidas pra voc cuidarnE...
4992                               Modeling SP cabooses

[4993 rows x 1 columns]

#### 4.Converting Text to LowerCase

In [11]:
df['Text'] = df['Text'].str.lower()

In [12]:
df

                                                   Text
0      yeh hoyi na baatub he to putin der jaye ga or...
1                       aap roz itni jaldi utha jate ho
2      va chacha hum nahi sunenge tera dekh rahe hai...
3                               queen aap bhi so jao na
4      sir aap ki company pine labs ne mere paise na...
...                                                 ...
4988
4989                                   qnblack magnumtn
4990                    i wouldve done that forever ago
4991   porque o gato tem sete vidas pra voc cuidarne...
4992                               modeling sp cabooses

[4993 rows x 1 columns]

### Export Clean Merge file

In [13]:
df.to_csv("C:/Users/PRASHANT/Desktop/Data_Science/Celebal Task/TASK2/exported_merge_file.csv")

## Creating Label Column

####  if Keyword in List present in String replaced by 1 Otherwise 0

In [14]:
start = time.time()

df['label'] = df.Text.str.extract('(aap|bsp|bjp|sp|congress)')  # if list aap|bsp|bjp|sp|congress present in string then add same word in label column
df['label'] = df['label'].replace(['aap','bsp','bjp','sp','congress'],'1')  # replaced all these aap|bsp|bjp|sp|congress by 1
df['label'] = df['label'].fillna(0)   #fill 0 remaining all 

print('\n', f'Time: {time.time() - start}')

 Time: 0.06098175048828125

In [15]:
df.tail(30)

                                                   Text label
4963                                           03050305     0
4964  udah tanggal 27 belum ada yang pickaw semoga s...     0
4965                                                        0
4966  he mustve been tuned in last night httpstco6oi...     0
4967                                                ifb     0
4968                                            margit      0
4969   que inocente eres entonces porque crees que l...     0
4970             u3000pokemonday n26 httpstcobzdsqjblvl     0
4971  evening in chandigarh akbar ansari g httpstco2...     0
4972                      i am home sick with covid now     0
4973       loud noises nnirs so loud httpstcooqgvmhewfy     0
4974  appartamento in vendita a santo stefano di mag...     1
4975                                                        0
4976       15 sp 23  2 1515   smap   httpstcoehhugudtsa     1
4977                      quiero que alguien me escuche     0
4978                           kkkkkkkkkk eu moro em sp     1
4979                                            i sleep     0
4980              opina infj 1w2 2w3 5w4 sosp rcoai pao     1
4981                                                nie     0
4982                                                  n     0
4983                                                3nn     0
4984                                                        0
4985                          infelizmente nasci em sp      1
4986                                              sp km     1
4987                                                  n     0
4988                                                        0
4989                                   qnblack magnumtn     0
4990                    i wouldve done that forever ago     0
4991   porque o gato tem sete vidas pra voc cuidarne...     1
4992                               modeling sp cabooses     1

In [64]:
df.describe()

        Text label
count   4993  4993
unique  4320     2
top              1
freq     210  2807

In [65]:
df.Text.dtypes

dtype('O')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4993 entries, 0 to 4992
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    4993 non-null   object
 1   label   4993 non-null   object
dtypes: object(2)
memory usage: 78.1+ KB

In [67]:
df['label'].isnull().sum()

0

In [68]:
df.label.dtypes   # check datatype

dtype('O')

In [69]:
(df['label'] == 0).sum()  # count 0 in label column

2186

In [70]:
(df['label'] == '1').sum()  # count 1 in label column

2807

In [71]:
df.describe()

        Text label
count   4993  4993
unique  4320     2
top              1
freq     210  2807

In [72]:
df.to_csv("C:/Users/PRASHANT/Desktop/Data_Science/Celebal Task/TASK2/Final_Clean_label_exported_merge_file.csv")